# Docker
postgres_data/

# Build outputs
spi/build/
packages/*/dist/
account-ui/dist/
admin-ui/dist/

# Gradle
.gradle/
build/

# Node
node_modules/

# Turborepo
.turbo/

# Eclipse

.settings/

.project

bin/.idea/
